* {
    color: black;
}

:root {
    --background: #6264a7;
}
.router-wrapper {
  width: 100%;
  display: block;
}

    body, html, #app {
        margin: 0;
        padding: 0;
        background-color: var(--background);
        font: inherit;
            height: 100%;
        width: 100%;
    }   