
/* Reset */
* { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Der Root von Vue soll exakt den Viewport füllen */
#app {
  height: 100vh;
  overflow: auto;   /* <-- statt hidden */
  background: #e2e3ff;
}


/* Optional: falls du .router-wrapper nutzt */
.router-wrapper {
  height: 100%;
  width: 100%;
}
