* {
    color: black;
}

:root {
    --background: #6264a7;

}


body, html, #app {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font: inherit;
    overflow: hidden;

    .account-page {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 70px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    }

}   